<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.UsedPalace"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".adminMenus.UsersSales"
            android:exported="false" />
        <activity
            android:name=".adminMenus.UsersMenu"
            android:exported="false" />
        <activity
            android:name=".adminMenus.AdminMainMenu"
            android:exported="false" />
        <activity
            android:name=".fragments.ChatAndMessages.OpenSaleChatActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.homeFragmentHelpers.FullscreenGalleryActivity"
            android:exported="false" />
        <activity
            android:name=".profileMenus.profileActivity.DeleteAccountActivity"
            android:exported="false" />
        <activity
            android:name=".profileMenus.profileActivity.ModifyPhoneActivity"
            android:exported="false" />
        <activity
            android:name=".profileMenus.profileActivity.ModifyPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".profileMenus.profileActivity.ModifyEmailActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.ChatAndMessages.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".profileMenus.ownSalesActivity.OpenSaleActivity"
            android:exported="false" />
        <activity
            android:name=".fragments.homeFragmentHelpers.HomeFragmentSingleSaleActivity"
            android:exported="false" />
        <activity
            android:name=".profileMenus.ownSalesActivity.ModifySaleActivity"
            android:exported="false" />
        <activity
            android:name=".profileMenus.InformationActivity"
            android:exported="false" />
        <activity
            android:name=".profileMenus.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".profileMenus.SupportActivity"
            android:exported="false" />
        <activity
            android:name=".profileMenus.HelpActivity"
            android:exported="false" />
        <activity
            android:name=".profileMenus.ownSalesActivity.OwnSalesActivity"
            android:exported="false" />
        <activity
            android:name=".profileMenus.CreateSaleActivity"
            android:exported="false" />
        <activity
            android:name=".profileMenus.profileActivity.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".loginMenus.EmailVerifyActivity"
            android:exported="false" />
        <activity
            android:name=".loginMenus.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".loginMenus.ForgottenPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".MainMenuActivity"
            android:exported="false" /> <!-- a "android:usesCleartextTraffic="true"-t át kell írni hogy https-t használjon az app ne sima http-t -->
        <activity
            android:name=".loginMenus.LogActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".loginMenus.RegActivity" />
    </application>

</manifest>